
.button_layout(@length, @height, @align, @justify){
    display: flex;
    flex: 1 1 0;
    width: @length;
    height: @height;
    align-items: @align;
    margin: 0 auto;
    justify-content: @justify;
    border-radius: 7%;
}

.img_style(){
    width:200px;
    height: 200px;
    padding: 20px 10px;
    border-radius: 20%;
}
.background-coloring(){
    background: @ebony-clay;
    color: white;
}

.border-style(){
    border-bottom: 1px dotted white;
}

.nav-bar(){
    padding-top: 25px;
    padding-bottom: 25px;
    background: #F4F4F4;
    display: flex;
    margin: 0 auto;
    .background-coloring();
}

.links-style(){
    text-decoration: none;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.card-style(){
    display:flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 8%;
    align-items: center;
}